<%= form_for :post, :url => { :action => "create", :controller => 'blogs' }  do |f| %>
        <%=f.text_field :title, :placeholder => ' Title ' %><br />
        <%= f.text_area :content, :placeholder => ' Content ' %><br />
        <%= f.text_field :user_id, :type => 'hidden', :vlaue => 0 %><br />
        <%= f.submit "Add Question"%><br />
<% end %>

<% @blogs.each do |blog| %>
<div>
  <h4>Title</h4><br />
  <%= link_to blog.title, blogs_index_path(:id => blog.id, :owner_id => blog.user_id) %><br />
</div>
<% end %>

<%= link_to  "Logout", destroy_user_session_path, method: :delete %>
